//- Basic typography style

body {
  color: $text-color;
  font: $text-normal 62.5% / 1.4 $text-font-stack; //- 62.5% makes 'em' unit computed as 10px; 125% makes 'em' units computed as 20px;
}

h1 {
  font-size: map-get($font-size-map, heading-1);
}

h2 {
  font-size: map-get($font-size-map, heading-2);
}

h3 {
  font-size: map-get($font-size-map, heading-3);
}

h4 {
  font-size: map-get($font-size-map, heading-4);
}

h5 {
  font-size: map-get($font-size-map, heading-5);
}

h6 {
  font-size: map-get($font-size-map, heading-6);
}
