//- This file contains application fonts variables

/// @type List
$text-font-stack: 'SourceSansPro-Regular', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$text-normal: 400;
$text-semibold: 600;